.side-nav
    background: $primary
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: $nav-width
    padding: 40px 0
    color: #fff

.logo
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    font-weight: 600
    font-size: 20px
    border-bottom: 1px dashed grey
    padding-bottom: 15px
    margin-bottom: 40px

    img
        height: 45px
        max-width: 100%