@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap);
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
}

.btn {
  padding: 10px 35px;
  border-radius: 300px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary {
  background: #6100ff;
  color: #fff;
}
.btn-primary:hover {
  background: #260064;
}

.btn-block {
  width: 100%;
}

.admin-main {
  margin-left: 250px;
}
.admin-main .page-title {
  color: #6100ff;
  margin-bottom: 15px;
}

.side-nav {
  background: #6100ff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: 40px 0;
  color: #fff;
}
.side-nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 1px dashed grey;
  padding-bottom: 100px;
  margin-bottom: 20px;
}
.side-nav .logo img {
  height: 100px;
  max-width: 80%;
}
.side-nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 50px;
  padding: 0 10px;
}
.side-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  background-color: #4900c7;
  border-radius: 3px;
  font-weight: 200;
  display: flex;
}
.side-nav ul li a:hover {
  background: #fff;
  color: #6100ff;
  font-weight: 500;
  transform: skewX(-15deg);
}
.side-nav ul .logout button {
  background: rgba(255, 0, 0, 0.3411764706);
  border: 1px solid grey;
  left: 15px;
  bottom: 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border-radius: 200px;
  font-size: 15px;
  transition: all 0.4s ease;
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
}
.side-nav ul .logout button:hover {
  background: #e91e1e;
}
